.player-row {
    height: 23px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-bottom: 3px;
    align-items: center;
}

.player-position {
    position: absolute;
    width: 20px;
    left: 5px;
    height: 20px;
}

.player-rating {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    width: 20%;
    font-size: xx-small;
    position: absolute;
    left: 40%;
}
.player-totalscore {
    left: 70%;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    width: 10%;
    position: absolute;
    border-radius: 30%;
}
.player-row span {
    font-size: xx-small;
}

.player_name {
    position: absolute;
    left: 12%;
}

.team h2 {
    font-style: italic;
}
.poste-icon {
    width: 20px;
    height: 20px;
}

.score-cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 20%;
}

.totalmoyenne {
    text-align: center;
    display: flex;
    margin-top: -3px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.notecontainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 15%;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
.totalcontainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-left: 3px solid black;
    
}

.last-matches ul li {
    list-style-type: none;
    border: 1px solid black;
    padding: 5px;
    width: 90%; /* ou la largeur que vous voulez */
    margin-left: auto;
    margin-right: auto;
}

.last-matches ul {
    padding-inline-start: 0px;
}

.last-matches {
    align-items: center;
    justify-content: center;
    font-size: smaller;
}
thead tr {    
    color: white;
}
#myTable {
    text-align: center;
}

.voirclass {
    color: white;
    justify-content: center;
    display: flex;
    width: 100%;
    text-decoration: none;
    align-items: center;
}
.classcontainer {
    padding: 10px;
    margin-left: auto;
    margin-top: 30px;
    width: fit-content;
    margin-right: auto;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-radius: 30px;
    border: 5px solid black;
}